<div id="Restricciones">
	        <h2 class="section">Restricciones</h2>
	        <div id="botones">
				<a class="mostrar button" href="">Mostrar en A</a>
				<a class="mostrar button" href="">Mostrar en B</a>
			</div>
	        <ul id="result">

	        </ul>
</div>
<div style="clear:both;"></div>